<!-- <div{% if site.navbar.sticky %} data-uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent; top: 200"{% endif %}> -->
{% if page.url == '/' %}
    {% assign header_data = site.data.navigation_header.left %}
    {% assign navbar_class = "main-header"; %}
{% else %}
    {% assign header_data = site.data.navigation_header_document.left %}
    {% assign navbar_class = "inner-header"; %}
{% endif %}    
<div class="uk-navbar-container {{ navbar_class }}">
    <nav class="uk-navbar-container">
        <div class="uk-container">
            <div data-uk-navbar>
                <div class="uk-navbar-left">
                    
                    <!-- <a class="uk-navbar-item uk-logo uk-visible@m" href="{{ "/" | relative_url }}">{% if site.logo %}<img src="{{ site.uploads | absolute_url }}{{ site.logo }}" alt="{{ site.title | escape }}">{% else %}{{ site.title | escape }}{% endif %}</a> -->
                    <a class="uk-navbar-item uk-logo uk-visible@m" href="/">{% if site.logo %}<img src="{{ site.uploads | absolute_url }}{{ site.logo }}" alt="{{ site.title | escape }}">{% else %} <img src="https://d29tbxcbtlbljy.cloudfront.net/smartedge/images/intel-logo.svg"  width="100px" alt=""> <b>Intel&reg; Smart Edge{% endif %}</b></a>
                    <!-- <a class="uk-navbar-item uk-logo uk-visible@m" href="/">{% if site.logo %}<img src="{{ site.uploads | absolute_url }}{{ site.logo }}" alt="{{ site.title | escape }}">{% else %}Intel&reg; Smart Edge Open{% endif %}</a> -->
                    <!-- {% if site.data.translation[site.lang].mobile_nav_docs %}
                        <a class="uk-navbar-toggle uk-hidden@m" href="#offcanvas-docs" data-uk-toggle><span data-uk-navbar-toggle-icon></span> <span class="uk-margin-small-left">Intel&reg; Smart Edge Open</span></a>
                    {% else %}
                        <a class="uk-navbar-toggle uk-hidden@m" href="#offcanvas-docs" data-uk-navbar-toggle-icon data-uk-toggle></a>
                    {% endif %} -->
                    <span class="uk-navbar-toggle uk-hidden@m toggleMenu">
                        <svg class="menuIcon mainIcon" width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><rect style="fill:#fff" y="9" width="20" height="3"></rect><rect style="fill:#fff" y="3" width="20" height="3"></rect><rect style="fill:#fff" y="15" width="20" height="3"></rect></svg>
                        <svg class="menuIcon crossIcon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><defs><style>.a{fill:#fff;}</style></defs><path class="a" d="M25,7.014,22.986,5,15,12.986,7.014,5,5,7.014,12.986,15,5,22.986,7.014,25,15,17.014,22.986,25,25,22.986,17.014,15Z" transform="translate(-5 -5)"/></svg>
                        <a href="/">Intel&reg; Smart Edge Open</a>
                    </span>

                    <ul class="uk-navbar-nav uk-visible@m">
                        {% for link in header_data %}
                            {% if link.url contains 'http' %}
                                {% assign domain = '' %}
                            {% else %}
                                {% assign domain = '' | relative_url %}
                            {% endif %}
                            {% if link.url == page.url %}
                                {% assign current = ' class="uk-active"' %}
                            {% else %}
                                {% assign current = null %}
                            {% endif %}
                            {% if link.title %}
                                {% if link.button %}
                                    <li><div class="uk-navbar-item"><a class="uk-button uk-button-{{ link.button }}" href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank" {% endif %}>{{ link.title }}</a></div></li>
                                {% else %}
                                    {% if link.url %}
                                        <li{{ current }}><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank" {% endif %}>{{ link.title }}</a></li>
                                    {% else %}
                                        <li><a href="#">{{ link.title }}</a>
                                        {% if link.dropdown != null %}
                                            <div class="uk-navbar-dropdown">
                                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                                    {% for child in link.dropdown %}
                                                    {% if child.url != null %}
                                                        {% if child.url contains 'http' %}
                                                            {% assign domain = '' %}
                                                        {% else %}
                                                            {% assign domain = '' | relative_url %}
                                                        {% endif %}
                                                        {% if child.url == page.url %}
                                                            {% assign current = ' class="uk-active"' %}
                                                        {% else %}
                                                            {% assign current = null %}
                                                        {% endif %}
                                                        <li{{ current }}><a href="{{ domain }}{{ child.url }}">{{ child.title }}</a></li>
                                                    {% else %}
                                                        <li class="uk-nav-header">{{ child.title }}</li>
                                                    {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                        </li>
                                       
                                    {% endif %}                                                                    
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                       
                    </ul>
                    <div class="mobile-search">
                        <svg xmlns="http://www.w3.org/2000/svg" id="sbx-icon-search-13" viewBox="0 0 40 40" width="100%" height="100%">
                              <path d="M26.804 29.01c-2.832 2.34-6.465 3.746-10.426 3.746C7.333 32.756 0 25.424 0 16.378 0 7.333 7.333 0 16.378 0c9.046 0 16.378 7.333 16.378 16.378 0 3.96-1.406 7.594-3.746 10.426l10.534 10.534c.607.607.61 1.59-.004 2.202-.61.61-1.597.61-2.202.004L26.804 29.01zm-10.426.627c7.323 0 13.26-5.936 13.26-13.26 0-7.32-5.937-13.257-13.26-13.257C9.056 3.12 3.12 9.056 3.12 16.378c0 7.323 5.936 13.26 13.258 13.26z" fill-rule="evenodd">
                              </path>
                        </svg>
                        <!-- <svg class="menuIcon crossIcon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><defs><style>.a{fill:#fff;}</style></defs><path class="a" d="M25,7.014,22.986,5,15,12.986,7.014,5,5,7.014,12.986,15,5,22.986,7.014,25,15,17.014,22.986,25,25,22.986,17.014,15Z" transform="translate(-5 -5)"></path></svg> -->
                    </div>

                    <div class="searchBox">
                        <!-- <form action="" class="searchdiv">
                        <input type="text" class="searchicon" placeholder="Search this site...">
                       
                    </form> --> 
                    
                    {% if page.url == '/' %}
                    <div class="searchBar-section">
                        <div class="input-section" data-toggle="popover" data-placement="bottom"></div>
                        <div class="output-section">
                        <div id="search-result"></div>
                        <div id="search-result-pagination"></div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                </div>
                <div class="uk-navbar-center uk-hidden@m">
                    <a class="uk-navbar-item uk-logo" href="{{ "/" | relative_url }}">{% if site.logo %}
                        <img src="{{ site.uploads | absolute_url }}{{ site.logo }}" alt="{{ site.title | escape }}">
                        {% else %}{{ site.title | escape }}{% endif %}
                    </a>
                </div>
            </div>
        </div>
    </nav>
</div>




