.noteLeft, .noteRight{
    width:20%;
    float: left;
    *{
        text-align: left;
    }
    .uk-button-small{
        cursor: default;
    }
}
.noteLeft{
    clear: both;
    p{
        padding-right: 15px;
    }
}
.noteRight{
    width: 60%;
    &:not(:last-child){
        border-bottom: 1px solid $menuColor;
        margin-bottom: 40px;
    }
}


@media (max-width:991px){
    .noteLeft{
        width: 22%;
    }
    .noteRight{
        width:78%;
    }
    
}
@media (max-width:767px){
    .noteLeft, .noteRight{
        width:100%;
    }
    
}
@media (max-width:445px){
    span.smt {
        font-size: 12px;
    }
    span.smt2{
        font-size: 10px;
    }
}